.wrapper {
  max-width: 100vw;
  margin: 0 var(--spacing-4);
}

div.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4) 0;
}

#logo img {
  height: 100px;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#poster {
  margin-right: var(--spacing-3);
}

#poster img {
  height: 500px;
}

#poster-and-tiles-and-graph {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#tiles-and-graph {
  display: flex;
  flex-direction: column;
}

#tiles {
  display: flex;
  flex-direction: row;
}
