/* Specify Global Styles */
:root {
  /* Colour palette */
  --colour-black: #000;
  --colour-white: #fff;
  --colour-grey: #c7c7c7;
  --colour-purple-primary: #6C52D3;
  --colour-purple-secondary: #bbabf8;
  --colour-orange-primary: #ff764d;
  --colour-orange-secondary: #ffb8a2;
  --colour-yellow-primary: #fabe18;
  --colour-yellow-secondary: #ffe59f;
  /* Spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  /* Fonts */
  --font-primary: 'Poppins';
  /* Spacing */
  --font-size-heading-1: 40px;
  --font-size-heading-2: 32px;
  --font-size-heading-3: 24px;
  --font-size-body: 12px;
}

html, body {
  margin: 0;
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  margin: var(--spacing-1);
  font-weight: bold;
}
